<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VerifyMe.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <add key="RegistrationKey" value="S-1-5-21-2388176322-670329807-514388053"/>
    <add key="LicenseKey" value="sNw5pE3hNQbP5uAHB/RCmj0w1Xy7JW8xpWJWyLdyg5TWxPb9arj/6PdlYbIMUl9MeuuNEL7+NU2DbkQDAnMZ3A=="/>
    <add key="ReaderCode" value="s7X6JYUMHnfj6Qkd76EweDuouJi/WZ1ROZXEoI7E9INGt8o2yPzR3m4hCuGTeQCz"/>
    <add key="Submit" value="N"/>
    <!-- PHP, ASPX-->
    <add key="PageType" value="ASPX"/>
    <!-- PHP strLink = strWebPage & lblSessionID.Text & "/" & lblIDNum.Text & "/" & lblKPTName.Text & "/" & lblVerifyStatus.Text -->
    <!-- ASPX strLink = strWebPage & "sessionid=" & lblSessionID.Text & "&&mykad=" & lblIDNum.Text & "&&kptname=" & lblKPTName.Text & "&&verifystatus=" & lblVerifyStatus.Text -->
    <add key="WebPage" value="http://mykadpro.onlineapp.com.my/getdata.aspx?"/>
    <!-- 0=both,1=left,2=right -->
    <add key="Biometric" value="0"/>
    
  </appSettings>
</configuration>
